<p class="m-2 p-2">pruebas works!</p>

<hr>

<h2 class="m-2 p-2">Lista de personas</h2>

<div class="w-full">   
    <ul  class="flex  flex-row">
        @for (name of names; track $index) {
            <li class=" m-2 p-2  shadow-lg rounded-sm border-2 border-orange-400 " >{{name}}</li>
        }
    </ul>
     
    <ul class="m-2 p-2  min-w-84 w-40 shadow-lg rounded-sm border-2 border-purple-400">
        @for (cosa of cosas; track $index) {
            <li class=" m-2 p-2  shadow-lg rounded-sm border-2 border-orange-400 " >{{cosa}}</li>
        }@empty {
            <li>Mano no ha colocado naa</li>
        }
    </ul> 

</div>

<form (ngSubmit)="agregarCosas()">
    <input 
        [(ngModel)]="cosasNuevas" name="cosasNuevas" type="text"
        placeholder="Escribe un nombre la cosa" class=" border-2 rounded-md 
        border-red-400 m-2 p-2 shadow-lg"
    />
    <button type="submit" 
        class="m-2 p-2 rounded-sm shadow-lg " >
        Anadir
    </button>
</form>
